examples/06-payloads-and-peripherals/15-command-servo-relay.json
[
  {
    "id": "flow15",
    "type": "tab",
    "label": "MAVLink AI - 15 Servo / Relay",
    "disabled": false,
    "info": "Specialized command family example (issue #51): set a servo output and toggle a relay via raw MAV_CMDs. Channel and relay numbers are ENTIRELY vehicle-specific \u2014 servo 9 here is just a common aux-output choice, and driving the wrong channel can actuate a control surface or payload. Everything is wired to Debug only; check the built params before wiring an out node."
  },
  {
    "id": "ai_profile_copter",
    "type": "mavlink-ai-vehicle",
    "name": "AI Profile - Copter",
    "firmware": "ardupilot",
    "dialect": "ardupilotmega",
    "customDialectPath": "",
    "mavlinkVersion": "auto",
    "defaultTargetSystem": 1,
    "defaultTargetComponent": 1,
    "preferredMissionItemType": "MISSION_ITEM_INT",
    "debugProtocol": false,
    "vehicleFamily": "copter"
  },
  {
    "id": "ai_profile_copter__identity",
    "type": "mavlink-ai-local-identity",
    "name": "AI Profile - Copter Identity",
    "role": "custom",
    "sourceSystemId": 255,
    "sourceComponentId": 190,
    "heartbeatType": "",
    "heartbeatAutopilot": "MAV_AUTOPILOT_INVALID",
    "signOutbound": false,
    "verifyInbound": false,
    "requireSignature": false
  },
  {
    "id": "n15_i1",
    "type": "inject",
    "z": "flow15",
    "name": "Servo 9 -> 1500 us",
    "props": [
      {
        "p": "payload"
      }
    ],
    "payload": "{}",
    "payloadType": "json",
    "x": 160,
    "y": 100,
    "wires": [
      [
        "n15_servo"
      ]
    ]
  },
  {
    "id": "n15_servo",
    "type": "mavlink-ai-command",
    "z": "flow15",
    "name": "DO_SET_SERVO",
    "profile": "ai_profile_copter",
    "command": "MAV_CMD_DO_SET_SERVO",
    "sendAs": "long",
    "awaitAck": false,
    "timeoutMs": 3000,
    "maxRetries": 3,
    "fields": "{\"param1\":9,\"param2\":1500}",
    "presetFields": "",
    "x": 400,
    "y": 100,
    "wires": [
      [
        "n15_dbg"
      ]
    ]
  },
  {
    "id": "n15_i2",
    "type": "inject",
    "z": "flow15",
    "name": "Relay 0 on",
    "props": [
      {
        "p": "payload"
      }
    ],
    "payload": "{}",
    "payloadType": "json",
    "x": 140,
    "y": 160,
    "wires": [
      [
        "n15_relay"
      ]
    ]
  },
  {
    "id": "n15_relay",
    "type": "mavlink-ai-command",
    "z": "flow15",
    "name": "DO_SET_RELAY",
    "profile": "ai_profile_copter",
    "command": "MAV_CMD_DO_SET_RELAY",
    "sendAs": "long",
    "awaitAck": false,
    "timeoutMs": 3000,
    "maxRetries": 3,
    "fields": "{\"param1\":0,\"param2\":1}",
    "presetFields": "",
    "x": 400,
    "y": 160,
    "wires": [
      [
        "n15_dbg"
      ]
    ]
  },
  {
    "id": "n15_dbg",
    "type": "debug",
    "z": "flow15",
    "name": "Would send (verify channel mapping first!)",
    "active": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 700,
    "y": 130,
    "wires": []
  }
]
