examples/06-payloads-and-peripherals/28-sub-lights-and-gripper.json
[
  {
    "id": "flow28",
    "type": "tab",
    "label": "MAVLink AI - 28 Sub Lights & Gripper",
    "disabled": false,
    "info": "Payload control is not drone-only. On an ArduSub ROV the payload verbs are the mission: lights are servo/RC channels and the manipulator is a gripper. This flow drives both with the mavlink-ai-payload node.\n\n1) Lights full (servo instance 9 → 1900 µs), 2) lights dim (→ 1500 µs), 3) lights off (→ 1100 µs), 4) gripper grab, 5) gripper release. Servo instances/PWM values are vehicle-specific — check your SERVOn_FUNCTION assignment. Debug-wired only; add a connection to the payload nodes (or a mavlink-ai-out node) to actuate."
  },
  {
    "id": "ai_profile_sub",
    "type": "mavlink-ai-profile",
    "name": "AI Profile - Sub",
    "profileType": "sub",
    "firmware": "ardupilot",
    "dialect": "ardupilotmega",
    "customDialectPath": "",
    "mavlinkVersion": "auto",
    "sourceSystemId": 255,
    "sourceComponentId": 190,
    "defaultTargetSystem": 1,
    "defaultTargetComponent": 1,
    "preferredMissionItemType": "MISSION_ITEM_INT",
    "defaultMissionType": "mission",
    "heartbeatType": "",
    "heartbeatAutopilot": "MAV_AUTOPILOT_INVALID",
    "debugProtocol": false
  },
  {
    "id": "n28_note",
    "type": "comment",
    "z": "flow28",
    "name": "ArduSub: lights = servo channel, manipulator = gripper",
    "info": "",
    "x": 300,
    "y": 40,
    "wires": []
  },
  {
    "id": "n28_i1",
    "type": "inject",
    "z": "flow28",
    "name": "Lights full",
    "props": [
      {
        "p": "payload"
      }
    ],
    "payload": "{}",
    "payloadType": "json",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "n28_full"
      ]
    ]
  },
  {
    "id": "n28_full",
    "type": "mavlink-ai-payload",
    "z": "flow28",
    "name": "Servo 9 → 1900",
    "profile": "ai_profile_sub",
    "connection": "",
    "action": "servo",
    "targetComponent": "",
    "interval": "",
    "count": "",
    "sequence": "",
    "streamId": "",
    "statusFrequency": "",
    "pitch": "",
    "roll": "",
    "yaw": "",
    "instance": "9",
    "pwm": "1900",
    "on": false,
    "gripAction": "release",
    "x": 440,
    "y": 100,
    "wires": [
      [
        "n28_dbg"
      ]
    ]
  },
  {
    "id": "n28_i2",
    "type": "inject",
    "z": "flow28",
    "name": "Lights dim",
    "props": [
      {
        "p": "payload"
      }
    ],
    "payload": "{}",
    "payloadType": "json",
    "x": 150,
    "y": 160,
    "wires": [
      [
        "n28_dim"
      ]
    ]
  },
  {
    "id": "n28_dim",
    "type": "mavlink-ai-payload",
    "z": "flow28",
    "name": "Servo 9 → 1500",
    "profile": "ai_profile_sub",
    "connection": "",
    "action": "servo",
    "targetComponent": "",
    "interval": "",
    "count": "",
    "sequence": "",
    "streamId": "",
    "statusFrequency": "",
    "pitch": "",
    "roll": "",
    "yaw": "",
    "instance": "9",
    "pwm": "1500",
    "on": false,
    "gripAction": "release",
    "x": 440,
    "y": 160,
    "wires": [
      [
        "n28_dbg"
      ]
    ]
  },
  {
    "id": "n28_i3",
    "type": "inject",
    "z": "flow28",
    "name": "Lights off",
    "props": [
      {
        "p": "payload"
      }
    ],
    "payload": "{}",
    "payloadType": "json",
    "x": 150,
    "y": 220,
    "wires": [
      [
        "n28_off"
      ]
    ]
  },
  {
    "id": "n28_off",
    "type": "mavlink-ai-payload",
    "z": "flow28",
    "name": "Servo 9 → 1100",
    "profile": "ai_profile_sub",
    "connection": "",
    "action": "servo",
    "targetComponent": "",
    "interval": "",
    "count": "",
    "sequence": "",
    "streamId": "",
    "statusFrequency": "",
    "pitch": "",
    "roll": "",
    "yaw": "",
    "instance": "9",
    "pwm": "1100",
    "on": false,
    "gripAction": "release",
    "x": 440,
    "y": 220,
    "wires": [
      [
        "n28_dbg"
      ]
    ]
  },
  {
    "id": "n28_i4",
    "type": "inject",
    "z": "flow28",
    "name": "Gripper grab",
    "props": [
      {
        "p": "payload"
      }
    ],
    "payload": "{}",
    "payloadType": "json",
    "x": 160,
    "y": 300,
    "wires": [
      [
        "n28_grab"
      ]
    ]
  },
  {
    "id": "n28_grab",
    "type": "mavlink-ai-payload",
    "z": "flow28",
    "name": "Gripper: grab",
    "profile": "ai_profile_sub",
    "connection": "",
    "action": "gripper",
    "targetComponent": "",
    "interval": "",
    "count": "",
    "sequence": "",
    "streamId": "",
    "statusFrequency": "",
    "pitch": "",
    "roll": "",
    "yaw": "",
    "instance": "1",
    "pwm": "",
    "on": false,
    "gripAction": "grab",
    "x": 440,
    "y": 300,
    "wires": [
      [
        "n28_dbg"
      ]
    ]
  },
  {
    "id": "n28_i5",
    "type": "inject",
    "z": "flow28",
    "name": "Gripper release",
    "props": [
      {
        "p": "payload"
      }
    ],
    "payload": "{}",
    "payloadType": "json",
    "x": 170,
    "y": 360,
    "wires": [
      [
        "n28_release"
      ]
    ]
  },
  {
    "id": "n28_release",
    "type": "mavlink-ai-payload",
    "z": "flow28",
    "name": "Gripper: release",
    "profile": "ai_profile_sub",
    "connection": "",
    "action": "gripper",
    "targetComponent": "",
    "interval": "",
    "count": "",
    "sequence": "",
    "streamId": "",
    "statusFrequency": "",
    "pitch": "",
    "roll": "",
    "yaw": "",
    "instance": "1",
    "pwm": "",
    "on": false,
    "gripAction": "release",
    "x": 450,
    "y": 360,
    "wires": [
      [
        "n28_dbg"
      ]
    ]
  },
  {
    "id": "n28_dbg",
    "type": "debug",
    "z": "flow28",
    "name": "Would send",
    "active": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 700,
    "y": 230,
    "wires": []
  }
]
