examples/01-getting-started/30-shared-connection-subscribers.json
[
  {
    "id": "flow30",
    "type": "tab",
    "label": "MAVLink AI - 30 Shared Connection Subscribers",
    "disabled": false,
    "info": "Shows that MAVLink In is a subscription, not a connection. One shared Connection decodes the incoming stream once; three MAVLink In nodes each subscribe to a different message and apply their own filters \u2014 HEARTBEAT, GLOBAL_POSITION_INT, and COMMAND_ACK. Adding In nodes does not open extra ports or re-decode the bytes. The same connection can be shared across separate flow tabs the same way. Point the connection at your MAVLink source (SITL, a vehicle, or mavlink-router on UDP 14550)."
  },
  {
    "id": "ai_profile_copter",
    "type": "mavlink-ai-vehicle",
    "name": "AI Profile - Copter",
    "firmware": "ardupilot",
    "dialect": "ardupilotmega",
    "customDialectPath": "",
    "mavlinkVersion": "auto",
    "defaultTargetSystem": 1,
    "defaultTargetComponent": 1,
    "preferredMissionItemType": "MISSION_ITEM_INT",
    "debugProtocol": false,
    "vehicleFamily": "generic"
  },
  {
    "id": "ai_profile_copter__identity",
    "type": "mavlink-ai-local-identity",
    "name": "AI Profile - Copter GCS",
    "role": "gcs",
    "sourceSystemId": 255,
    "sourceComponentId": 190,
    "heartbeatType": "",
    "heartbeatAutopilot": "MAV_AUTOPILOT_INVALID",
    "signOutbound": false,
    "verifyInbound": false,
    "requireSignature": false
  },
  {
    "id": "ai_conn_udp",
    "type": "mavlink-ai-connection",
    "name": "AI Conn - Copter UDP 14550",
    "profile": "ai_profile_copter",
    "transport": "udp-peer",
    "routingMode": "single-profile",
    "bindAddress": "0.0.0.0",
    "bindPort": 14550,
    "remoteHost": "",
    "remotePort": 14550,
    "serialPath": "",
    "serialBaud": 57600,
    "reconnect": true,
    "heartbeat": true,
    "heartbeatIntervalMs": 1000,
    "acceptedSysids": "",
    "acceptedCompids": "",
    "unmatchedPolicy": "default",
    "routeTable": "",
    "outboundQueue": true,
    "localIdentity": "ai_profile_copter__identity",
    "allowMultipleIdentities": false,
    "additionalIdentities": "",
    "signingLinkId": 0
  },
  {
    "id": "n30_note",
    "type": "comment",
    "z": "flow30",
    "name": "One shared Connection \u2192 three In subscribers",
    "info": "",
    "x": 260,
    "y": 40,
    "wires": []
  },
  {
    "id": "n30_hb",
    "type": "mavlink-ai-in",
    "z": "flow30",
    "name": "Sub: HEARTBEAT",
    "connection": "ai_conn_udp",
    "messageNames": "HEARTBEAT",
    "messageIds": "",
    "sysid": "",
    "compid": "",
    "profileFilter": "",
    "rateLimitHz": 1,
    "changedOnly": false,
    "outputRaw": false,
    "outputErrors": false,
    "outputs": 1,
    "x": 220,
    "y": 100,
    "wires": [
      [
        "n30_hb_dbg"
      ]
    ]
  },
  {
    "id": "n30_hb_dbg",
    "type": "debug",
    "z": "flow30",
    "name": "status",
    "active": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 470,
    "y": 100,
    "wires": []
  },
  {
    "id": "n30_pos",
    "type": "mavlink-ai-in",
    "z": "flow30",
    "name": "Sub: GLOBAL_POSITION_INT",
    "connection": "ai_conn_udp",
    "messageNames": "GLOBAL_POSITION_INT",
    "messageIds": "",
    "sysid": "",
    "compid": "",
    "profileFilter": "",
    "rateLimitHz": 5,
    "changedOnly": false,
    "outputRaw": false,
    "outputErrors": false,
    "outputs": 1,
    "x": 250,
    "y": 160,
    "wires": [
      [
        "n30_pos_dbg"
      ]
    ]
  },
  {
    "id": "n30_pos_dbg",
    "type": "debug",
    "z": "flow30",
    "name": "navigation",
    "active": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 480,
    "y": 160,
    "wires": []
  },
  {
    "id": "n30_ack",
    "type": "mavlink-ai-in",
    "z": "flow30",
    "name": "Sub: COMMAND_ACK",
    "connection": "ai_conn_udp",
    "messageNames": "COMMAND_ACK",
    "messageIds": "",
    "sysid": "",
    "compid": "",
    "profileFilter": "",
    "rateLimitHz": 0,
    "changedOnly": false,
    "outputRaw": false,
    "outputErrors": false,
    "outputs": 1,
    "x": 230,
    "y": 220,
    "wires": [
      [
        "n30_ack_dbg"
      ]
    ]
  },
  {
    "id": "n30_ack_dbg",
    "type": "debug",
    "z": "flow30",
    "name": "command-result",
    "active": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 490,
    "y": 220,
    "wires": []
  }
]
