examples/09-observability/21-vehicle-status-web-dashboard.json
[
  {
    "id": "obs21_flow",
    "type": "tab",
    "label": "MAVLink AI - 21 Vehicle Status Web Dashboard",
    "disabled": false,
    "info": "Dependency-free, read-only status dashboard. Open /mavlink-ai/status after deploy. A mavlink-ai-vehicle-state node aggregates telemetry per sysid into the vehicle-state/1 contract; the dashboard reads its snapshots to display telemetry, advisory safety alerts, and a local geofence view. It never sends a vehicle command."
  },
  {
    "id": "obs21_note",
    "type": "comment",
    "z": "obs21_flow",
    "name": "Open http://<node-red-host>:1880/mavlink-ai/status after deploy",
    "info": "The page and JSON API use core Node-RED HTTP/file nodes. The asset path assumes the standard Node-RED Docker /data volume; edit the Serve dashboard asset function's path for a non-Docker or custom installation.",
    "x": 330,
    "y": 40,
    "wires": []
  },
  {
    "id": "obs21_in",
    "type": "mavlink-ai-in",
    "z": "obs21_flow",
    "name": "Dashboard connection errors",
    "connection": "obs21_conn",
    "messageNames": "",
    "messageIds": "",
    "sysid": "",
    "compid": "",
    "profileFilter": "",
    "rateLimitHz": 10,
    "changedOnly": false,
    "outputRaw": false,
    "outputErrors": true,
    "outputs": 2,
    "x": 160,
    "y": 120,
    "wires": [
      [],
      [
        "obs21_errors"
      ]
    ]
  },
  {
    "id": "obs21_vehicle_state",
    "type": "mavlink-ai-vehicle-state",
    "z": "obs21_flow",
    "name": "Vehicle state",
    "connection": "obs21_conn",
    "sysids": "",
    "intervalSeconds": 5,
    "staleMs": 5000,
    "statustextBuffer": 20,
    "outputs": 3,
    "x": 170,
    "y": 100,
    "wires": [
      [],
      [
        "obs21_store"
      ],
      []
    ]
  },
  {
    "id": "obs21_store",
    "type": "function",
    "z": "obs21_flow",
    "name": "Store vehicle-state snapshot",
    "func": "const v = msg.payload || {};\nif (v.sysid === undefined) return null;\nconst state = flow.get('mavlinkAiDashboard') || { vehicles: {}, errors: [], updatedAt: 0 };\nstate.vehicles[v.sysid] = v;\nstate.updatedAt = Date.now();\nflow.set('mavlinkAiDashboard', state);\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 480,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "obs21_errors",
    "type": "function",
    "z": "obs21_flow",
    "name": "Store connection errors",
    "func": "const state = flow.get('mavlinkAiDashboard') || { vehicles: {}, errors: [], updatedAt: 0 };\nstate.errors.unshift({ at: Date.now(), topic: msg.topic, payload: msg.payload });\nstate.errors = state.errors.slice(0, 20); state.updatedAt = Date.now(); flow.set('mavlinkAiDashboard', state);\nreturn null;",
    "outputs": 1,
    "x": 460,
    "y": 150,
    "wires": [
      []
    ]
  },
  {
    "id": "obs21_page_in",
    "type": "http in",
    "z": "obs21_flow",
    "name": "GET status page",
    "url": "/mavlink-ai/status",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 260,
    "wires": [
      [
        "obs21_asset_path"
      ]
    ]
  },
  {
    "id": "obs21_asset_path",
    "type": "function",
    "z": "obs21_flow",
    "name": "Serve dashboard asset",
    "func": "msg.filename = '/data/node_modules/node-red-contrib-mavlink-ai/resources/assets/vehicle-status-dashboard.html';\nreturn msg;",
    "outputs": 1,
    "x": 390,
    "y": 260,
    "wires": [
      [
        "obs21_file"
      ]
    ]
  },
  {
    "id": "obs21_file",
    "type": "file in",
    "z": "obs21_flow",
    "name": "Read dashboard HTML",
    "filename": "filename",
    "filenameType": "msg",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": false,
    "x": 630,
    "y": 260,
    "wires": [
      [
        "obs21_html_headers"
      ]
    ]
  },
  {
    "id": "obs21_html_headers",
    "type": "function",
    "z": "obs21_flow",
    "name": "HTML headers",
    "func": "msg.headers = Object.assign({}, msg.headers, { 'content-type': 'text/html; charset=utf-8', 'cache-control': 'no-store' });\nreturn msg;",
    "outputs": 1,
    "x": 840,
    "y": 260,
    "wires": [
      [
        "obs21_page_response"
      ]
    ]
  },
  {
    "id": "obs21_page_response",
    "type": "http response",
    "z": "obs21_flow",
    "name": "status page",
    "statusCode": "",
    "headers": {},
    "x": 1040,
    "y": 260,
    "wires": []
  },
  {
    "id": "obs21_api_in",
    "type": "http in",
    "z": "obs21_flow",
    "name": "GET status JSON",
    "url": "/mavlink-ai/status.json",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 330,
    "wires": [
      [
        "obs21_snapshot"
      ]
    ]
  },
  {
    "id": "obs21_snapshot",
    "type": "function",
    "z": "obs21_flow",
    "name": "Build safe status snapshot",
    "func": "const state = flow.get('mavlinkAiDashboard') || { vehicles: {}, errors: [], updatedAt: 0 };\nconst now = Date.now();\nconst rad = Math.PI / 180;\nfunction distance(a, b) { const dLat = (b.lat-a.lat)*rad, dLon=(b.lon-a.lon)*rad; const x=Math.sin(dLat/2)**2+Math.cos(a.lat*rad)*Math.cos(b.lat*rad)*Math.sin(dLon/2)**2; return 6371000*2*Math.atan2(Math.sqrt(x),Math.sqrt(1-x)); }\nconst vehicles = Object.values(state.vehicles).map(source => { const v = JSON.parse(JSON.stringify(source)); v.alerts = []; if (!v.connected) v.alerts.push({ level:'critical', message:'Heartbeat lost' }); const battery = v.battery && v.battery.batteries && v.battery.batteries[0]; const remaining = battery && battery.remaining_pct; if (Number.isFinite(remaining) && remaining < 15) v.alerts.push({ level:'critical', message:`Battery critical: ${remaining}%` }); else if (Number.isFinite(remaining) && remaining < 30) v.alerts.push({ level:'warning', message:`Battery low: ${remaining}%` }); if (v.armed && v.gps && v.gps.fix_type < 3) v.alerts.push({ level:'critical', message:'Armed without a 3D GPS fix' }); else if (v.gps && v.gps.satellites < 6) v.alerts.push({ level:'warning', message:`Low satellite count: ${v.gps.satellites}` }); if (v.home && v.position) { v.distanceFromHome = distance(v.home, v.position); v.geofenceBreach = v.distanceFromHome > 500; if (v.geofenceBreach) v.alerts.push({ level:'critical', message:`Display geofence exceeded: ${Math.round(v.distanceFromHome)} m from home` }); } v.alertLevel = v.alerts.some(a=>a.level==='critical')?'critical':v.alerts.length?'warning':'ok'; return v; }).sort((a,b)=>a.sysid-b.sysid);\nmsg.headers = { 'content-type':'application/json; charset=utf-8', 'cache-control':'no-store' };\nmsg.payload = { generatedAt: now, updatedAt: state.updatedAt, vehicles, errors: state.errors.slice(0,10) };\nreturn msg;",
    "outputs": 1,
    "x": 410,
    "y": 330,
    "wires": [
      [
        "obs21_api_response"
      ]
    ]
  },
  {
    "id": "obs21_api_response",
    "type": "http response",
    "z": "obs21_flow",
    "name": "status JSON",
    "statusCode": "",
    "headers": {},
    "x": 650,
    "y": 330,
    "wires": []
  },
  {
    "id": "obs21_profile",
    "type": "mavlink-ai-vehicle",
    "name": "Dashboard GCS profile",
    "firmware": "ardupilot",
    "dialectSource": "bundled",
    "dialect": "ardupilotmega",
    "customDialectPath": "",
    "mavlinkVersion": "auto",
    "defaultTargetSystem": 1,
    "defaultTargetComponent": 1,
    "preferredMissionItemType": "MISSION_ITEM_INT",
    "debugProtocol": false,
    "vehicleFamily": "generic"
  },
  {
    "id": "obs21_profile__identity",
    "type": "mavlink-ai-local-identity",
    "name": "Dashboard GCS profile GCS",
    "role": "gcs",
    "sourceSystemId": 255,
    "sourceComponentId": 190,
    "heartbeatType": "",
    "heartbeatAutopilot": "MAV_AUTOPILOT_INVALID",
    "signOutbound": false,
    "verifyInbound": false,
    "requireSignature": false
  },
  {
    "id": "obs21_conn",
    "type": "mavlink-ai-connection",
    "name": "Dashboard UDP 14550",
    "profile": "obs21_profile",
    "transport": "udp",
    "routingMode": "single-profile",
    "bindAddress": "0.0.0.0",
    "bindPort": 14550,
    "remoteHost": "",
    "remotePort": "",
    "serialPath": "",
    "serialBaud": 57600,
    "reconnect": true,
    "heartbeat": true,
    "heartbeatIntervalMs": 1000,
    "acceptedSysids": "",
    "acceptedCompids": "",
    "unmatchedPolicy": "default",
    "routeTable": "",
    "outboundQueue": true,
    "localIdentity": "obs21_profile__identity",
    "allowMultipleIdentities": false,
    "additionalIdentities": "",
    "signingLinkId": 0
  }
]
