examples/09-observability/21-vehicle-status-web-dashboard.json
[
  {
    "id": "obs21_flow",
    "type": "tab",
    "label": "MAVLink AI - 21 Vehicle Status Web Dashboard",
    "disabled": false,
    "info": "Dependency-free, read-only status dashboard. Open /mavlink-ai/status after deploy. It keys vehicles by profile, sysid, and compid; displays telemetry and advisory safety alerts; and draws a local geofence view. It never sends a vehicle command."
  },
  {
    "id": "obs21_note",
    "type": "comment",
    "z": "obs21_flow",
    "name": "Open http://<node-red-host>:1880/mavlink-ai/status after deploy",
    "info": "The page and JSON API use core Node-RED HTTP/file nodes. The asset path assumes the standard Node-RED Docker /data volume; edit the Serve dashboard asset function's path for a non-Docker or custom installation.",
    "x": 330,
    "y": 40,
    "wires": []
  },
  {
    "id": "obs21_in",
    "type": "mavlink-ai-in",
    "z": "obs21_flow",
    "name": "Dashboard telemetry",
    "connection": "obs21_conn",
    "messageNames": "HEARTBEAT,SYS_STATUS,BATTERY_STATUS,GPS_RAW_INT,GLOBAL_POSITION_INT,VFR_HUD,ATTITUDE,STATUSTEXT",
    "messageIds": "",
    "sysid": "",
    "compid": "",
    "profileFilter": "",
    "rateLimitHz": 10,
    "changedOnly": false,
    "outputRaw": false,
    "outputErrors": true,
    "outputs": 2,
    "x": 160,
    "y": 120,
    "wires": [["obs21_store"], ["obs21_errors"]]
  },
  {
    "id": "obs21_store",
    "type": "function",
    "z": "obs21_flow",
    "name": "Store profile-aware vehicle state",
    "func": "const p = msg.payload || {};\nconst f = p.fields || {};\nif (p.sysid === undefined || p.compid === undefined || !p.name) return null;\nconst state = flow.get('mavlinkAiDashboard') || { vehicles: {}, errors: [], updatedAt: 0 };\nconst profileId = p.profile_id || p.profile || 'default';\nconst key = `${profileId}:${p.sysid}:${p.compid}`;\nconst v = state.vehicles[key] || { key, profile_id: profileId, profile_name: p.profile || '', sysid: Number(p.sysid), compid: Number(p.compid), messages: [], geofenceMeters: 500 };\nv.profile_id = profileId; v.profile_name = p.profile || v.profile_name; v.lastSeen = Date.now(); v.sourceReceivedAt = p.receivedAt;\nif (p.name === 'HEARTBEAT') { v.armed = (Number(f.base_mode) & 128) !== 0; v.base_mode = Number(f.base_mode); v.custom_mode = Number(f.custom_mode); v.mode = f.mode || v.mode; v.type = Number(f.type); v.autopilot = Number(f.autopilot); v.system_status = Number(f.system_status); v.lastHeartbeat = Date.now(); }\nif (p.name === 'SYS_STATUS') { v.battery = v.battery || {}; v.battery.voltage = Number(f.voltage_battery) === 65535 ? null : Number(f.voltage_battery) / 1000; v.battery.current = Number(f.current_battery) === -1 ? null : Number(f.current_battery) / 100; v.battery.remaining = Number(f.battery_remaining) === -1 ? null : Number(f.battery_remaining); v.health = { present: f.onboard_control_sensors_present, enabled: f.onboard_control_sensors_enabled, healthy: f.onboard_control_sensors_health }; }\nif (p.name === 'BATTERY_STATUS') { v.battery = v.battery || {}; if (Number(f.battery_remaining) >= 0) v.battery.remaining = Number(f.battery_remaining); if (Number(f.current_battery) >= 0) v.battery.current = Number(f.current_battery) / 100; v.battery.temperature = Number(f.temperature) === 32767 ? null : Number(f.temperature) / 100; }\nif (p.name === 'GPS_RAW_INT') { const labels = ['none','none','2D','3D','DGPS','RTK float','RTK fixed','static','PPP']; v.gps = { fix_type: Number(f.fix_type), fixLabel: labels[Number(f.fix_type)] || String(f.fix_type), satellites: Number(f.satellites_visible), eph: Number(f.eph) === 65535 ? null : Number(f.eph) / 100, epv: Number(f.epv) === 65535 ? null : Number(f.epv) / 100 }; }\nif (p.name === 'GLOBAL_POSITION_INT') { v.position = { lat: Number(f.lat) / 1e7, lon: Number(f.lon) / 1e7, alt: Number(f.alt) / 1000, relative_alt: Number(f.relative_alt) / 1000, heading: Number(f.hdg) === 65535 ? null : Number(f.hdg) / 100 }; if (!v.home && Number.isFinite(v.position.lat) && Number.isFinite(v.position.lon)) v.home = { lat: v.position.lat, lon: v.position.lon }; }\nif (p.name === 'VFR_HUD') v.flight = { airspeed: Number(f.airspeed), groundspeed: Number(f.groundspeed), heading: Number(f.heading), throttle: Number(f.throttle), climb: Number(f.climb) };\nif (p.name === 'ATTITUDE') { const d = 180 / Math.PI; v.attitude = { roll: Number(f.roll) * d, pitch: Number(f.pitch) * d, yaw: Number(f.yaw) * d }; }\nif (p.name === 'STATUSTEXT') { v.messages.unshift({ at: Date.now(), severity: Number(f.severity), text: String(f.text || '') }); v.messages = v.messages.slice(0, 10); }\nstate.vehicles[key] = v; state.updatedAt = Date.now(); flow.set('mavlinkAiDashboard', state);\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 480,
    "y": 100,
    "wires": [[]]
  },
  {
    "id": "obs21_errors",
    "type": "function",
    "z": "obs21_flow",
    "name": "Store connection errors",
    "func": "const state = flow.get('mavlinkAiDashboard') || { vehicles: {}, errors: [], updatedAt: 0 };\nstate.errors.unshift({ at: Date.now(), topic: msg.topic, payload: msg.payload });\nstate.errors = state.errors.slice(0, 20); state.updatedAt = Date.now(); flow.set('mavlinkAiDashboard', state);\nreturn null;",
    "outputs": 1,
    "x": 460,
    "y": 150,
    "wires": [[]]
  },
  {
    "id": "obs21_page_in",
    "type": "http in",
    "z": "obs21_flow",
    "name": "GET status page",
    "url": "/mavlink-ai/status",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 260,
    "wires": [["obs21_asset_path"]]
  },
  {
    "id": "obs21_asset_path",
    "type": "function",
    "z": "obs21_flow",
    "name": "Serve dashboard asset",
    "func": "msg.filename = '/data/node_modules/node-red-contrib-mavlink-ai/resources/assets/vehicle-status-dashboard.html';\nreturn msg;",
    "outputs": 1,
    "x": 390,
    "y": 260,
    "wires": [["obs21_file"]]
  },
  {
    "id": "obs21_file",
    "type": "file in",
    "z": "obs21_flow",
    "name": "Read dashboard HTML",
    "filename": "filename",
    "filenameType": "msg",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": false,
    "x": 630,
    "y": 260,
    "wires": [["obs21_html_headers"]]
  },
  {
    "id": "obs21_html_headers",
    "type": "function",
    "z": "obs21_flow",
    "name": "HTML headers",
    "func": "msg.headers = Object.assign({}, msg.headers, { 'content-type': 'text/html; charset=utf-8', 'cache-control': 'no-store' });\nreturn msg;",
    "outputs": 1,
    "x": 840,
    "y": 260,
    "wires": [["obs21_page_response"]]
  },
  {
    "id": "obs21_page_response",
    "type": "http response",
    "z": "obs21_flow",
    "name": "status page",
    "statusCode": "",
    "headers": {},
    "x": 1040,
    "y": 260,
    "wires": []
  },
  {
    "id": "obs21_api_in",
    "type": "http in",
    "z": "obs21_flow",
    "name": "GET status JSON",
    "url": "/mavlink-ai/status.json",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 330,
    "wires": [["obs21_snapshot"]]
  },
  {
    "id": "obs21_snapshot",
    "type": "function",
    "z": "obs21_flow",
    "name": "Build safe status snapshot",
    "func": "const state = flow.get('mavlinkAiDashboard') || { vehicles: {}, errors: [], updatedAt: 0 };\nconst now = Date.now();\nconst rad = Math.PI / 180;\nfunction distance(a, b) { const dLat = (b.lat-a.lat)*rad, dLon=(b.lon-a.lon)*rad; const x=Math.sin(dLat/2)**2+Math.cos(a.lat*rad)*Math.cos(b.lat*rad)*Math.sin(dLon/2)**2; return 6371000*2*Math.atan2(Math.sqrt(x),Math.sqrt(1-x)); }\nconst vehicles = Object.values(state.vehicles).map(source => { const v = JSON.parse(JSON.stringify(source)); v.ageMs = now - (v.lastHeartbeat || v.lastSeen || 0); v.stale = v.ageMs > 5000; v.alerts = []; if (v.ageMs > 10000) v.alerts.push({ level:'critical', message:'Heartbeat stale for more than 10 seconds' }); else if (v.stale) v.alerts.push({ level:'warning', message:'Heartbeat is stale' }); const remaining=v.battery&&v.battery.remaining; if (Number.isFinite(remaining) && remaining < 15) v.alerts.push({ level:'critical', message:`Battery critical: ${remaining}%` }); else if (Number.isFinite(remaining) && remaining < 30) v.alerts.push({ level:'warning', message:`Battery low: ${remaining}%` }); if (v.armed && v.gps && v.gps.fix_type < 3) v.alerts.push({ level:'critical', message:'Armed without a 3D GPS fix' }); else if (v.gps && v.gps.satellites < 6) v.alerts.push({ level:'warning', message:`Low satellite count: ${v.gps.satellites}` }); if (v.home && v.position) { v.distanceFromHome = distance(v.home, v.position); v.geofenceBreach = v.distanceFromHome > (v.geofenceMeters || 500); if (v.geofenceBreach) v.alerts.push({ level:'critical', message:`Display geofence exceeded: ${Math.round(v.distanceFromHome)} m from home` }); } v.alertLevel = v.alerts.some(a=>a.level==='critical')?'critical':v.alerts.length?'warning':'ok'; return v; }).sort((a,b)=>a.sysid-b.sysid||a.compid-b.compid);\nmsg.headers = { 'content-type':'application/json; charset=utf-8', 'cache-control':'no-store' };\nmsg.payload = { generatedAt: now, updatedAt: state.updatedAt, vehicles, errors: state.errors.slice(0,10) };\nreturn msg;",
    "outputs": 1,
    "x": 410,
    "y": 330,
    "wires": [["obs21_api_response"]]
  },
  {
    "id": "obs21_api_response",
    "type": "http response",
    "z": "obs21_flow",
    "name": "status JSON",
    "statusCode": "",
    "headers": {},
    "x": 650,
    "y": 330,
    "wires": []
  },
  {
    "id": "obs21_profile",
    "type": "mavlink-ai-profile",
    "name": "Dashboard GCS profile",
    "profileType": "gcs",
    "firmware": "ardupilot",
    "dialectSource": "bundled",
    "dialect": "ardupilotmega",
    "customDialectPath": "",
    "mavlinkVersion": "auto",
    "sourceSystemId": 255,
    "sourceComponentId": 190,
    "defaultTargetSystem": 1,
    "defaultTargetComponent": 1,
    "preferredMissionItemType": "MISSION_ITEM_INT",
    "defaultMissionType": "mission",
    "heartbeatType": "",
    "heartbeatAutopilot": "MAV_AUTOPILOT_INVALID",
    "debugProtocol": false,
    "signOutbound": false,
    "verifyInbound": false,
    "requireSignature": false,
    "signingLinkId": 0
  },
  {
    "id": "obs21_conn",
    "type": "mavlink-ai-connection",
    "name": "Dashboard UDP 14550",
    "profile": "obs21_profile",
    "transport": "udp-peer",
    "routingMode": "single-profile",
    "bindAddress": "0.0.0.0",
    "bindPort": 14550,
    "remoteHost": "",
    "remotePort": 14550,
    "serialPath": "",
    "serialBaud": 57600,
    "reconnect": true,
    "heartbeat": true,
    "heartbeatIntervalMs": 1000,
    "acceptedSysids": "",
    "acceptedCompids": "",
    "unmatchedPolicy": "default",
    "routeTable": "",
    "outboundQueue": true
  }
]
