examples/09-observability/22-safety-monitor.json
[
  {
    "id": "obs22_flow",
    "type": "tab",
    "label": "MAVLink AI - 22 Advisory Safety Monitor",
    "disabled": false,
    "info": "Advisory-only safety monitor for heartbeat age, battery, GPS, and altitude. It emits state transitions to normal/warning/critical outputs and never sends a MAVLink command. Tune the constants in Evaluate safety policy for the vehicle and operation."
  },
  {
    "id": "obs22_note",
    "type": "comment",
    "z": "obs22_flow",
    "name": "Advisory only: tune thresholds and retain pilot/autopilot failsafes",
    "info": "This example intentionally has no MAVLink AI Out node. It is not a replacement for flight-controller battery, geofence, RC-loss, or EKF failsafes.",
    "x": 340,
    "y": 40,
    "wires": []
  },
  {
    "id": "obs22_in",
    "type": "mavlink-ai-in",
    "z": "obs22_flow",
    "name": "Safety telemetry",
    "connection": "obs22_conn",
    "messageNames": "HEARTBEAT,SYS_STATUS,GPS_RAW_INT,GLOBAL_POSITION_INT",
    "messageIds": "",
    "sysid": "",
    "compid": "",
    "profileFilter": "",
    "rateLimitHz": 5,
    "changedOnly": false,
    "outputRaw": false,
    "outputErrors": false,
    "outputs": 1,
    "x": 150,
    "y": 120,
    "wires": [
      [
        "obs22_policy"
      ]
    ]
  },
  {
    "id": "obs22_tick",
    "type": "inject",
    "z": "obs22_flow",
    "name": "Check stale heartbeats every second",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "1",
    "once": true,
    "onceDelay": 1,
    "topic": "",
    "payload": "{\"tick\":true}",
    "payloadType": "json",
    "x": 180,
    "y": 180,
    "wires": [
      [
        "obs22_policy"
      ]
    ]
  },
  {
    "id": "obs22_policy",
    "type": "function",
    "z": "obs22_flow",
    "name": "Evaluate safety policy",
    "func": "const cfg = { batteryCritical: 15, batteryWarning: 30, minimumSatellites: 6, maximumRelativeAltitude: 120, staleWarningMs: 5000, staleCriticalMs: 10000 };\nconst vehicles = context.get('vehicles') || {};\nconst p = msg.payload || {};\nif (!p.tick && p.sysid !== undefined) { const key = `${p.profile_id || p.profile || 'default'}:${p.sysid}:${p.compid}`; const v = vehicles[key] || { key, profile_id:p.profile_id, profile_name:p.profile, sysid:Number(p.sysid), compid:Number(p.compid) }; const f=p.fields||{}; v.lastSeen=Date.now(); if(p.name==='HEARTBEAT'){v.lastHeartbeat=Date.now();v.armed=(Number(f.base_mode)&128)!==0;} if(p.name==='SYS_STATUS'){v.batteryRemaining=Number(f.battery_remaining);} if(p.name==='GPS_RAW_INT'){v.fixType=Number(f.fix_type);v.satellites=Number(f.satellites_visible);} if(p.name==='GLOBAL_POSITION_INT'){v.relativeAltitude=Number(f.relative_alt)/1000;} vehicles[key]=v; context.set('vehicles',vehicles); }\nconst out=[[],[],[]], now=Date.now();\nfor (const v of Object.values(vehicles)) { const alerts=[]; const age=now-(v.lastHeartbeat||v.lastSeen||0); if(age>cfg.staleCriticalMs)alerts.push({severity:'critical',code:'HEARTBEAT_LOST',message:`Heartbeat age ${Math.round(age/1000)}s`});else if(age>cfg.staleWarningMs)alerts.push({severity:'warning',code:'HEARTBEAT_STALE',message:`Heartbeat age ${Math.round(age/1000)}s`}); if(Number.isFinite(v.batteryRemaining)&&v.batteryRemaining>=0&&v.batteryRemaining<cfg.batteryCritical)alerts.push({severity:'critical',code:'BATTERY_CRITICAL',message:`Battery ${v.batteryRemaining}%`});else if(Number.isFinite(v.batteryRemaining)&&v.batteryRemaining>=0&&v.batteryRemaining<cfg.batteryWarning)alerts.push({severity:'warning',code:'BATTERY_LOW',message:`Battery ${v.batteryRemaining}%`}); if(v.armed&&Number.isFinite(v.fixType)&&v.fixType<3)alerts.push({severity:'critical',code:'GPS_FIX_LOST',message:'Armed without 3D GPS fix'});else if(Number.isFinite(v.satellites)&&v.satellites<cfg.minimumSatellites)alerts.push({severity:'warning',code:'GPS_SATELLITES_LOW',message:`Only ${v.satellites} satellites`}); if(Number.isFinite(v.relativeAltitude)&&v.relativeAltitude>cfg.maximumRelativeAltitude)alerts.push({severity:'critical',code:'ALTITUDE_LIMIT',message:`Relative altitude ${v.relativeAltitude.toFixed(1)}m`}); const level=alerts.some(a=>a.severity==='critical')?'critical':alerts.length?'warning':'normal'; const signature=JSON.stringify([level,alerts.map(a=>a.code)]); if(v.signature===signature)continue; v.signature=signature; const event={topic:`safety/${level}`,payload:{level,vehicle:{profile_id:v.profile_id,profile_name:v.profile_name,sysid:v.sysid,compid:v.compid,armed:v.armed},alerts,checkedAt:now,advisoryOnly:true}}; out[level==='critical'?2:level==='warning'?1:0].push(event); }\ncontext.set('vehicles',vehicles);\nreturn out;",
    "outputs": 3,
    "x": 450,
    "y": 150,
    "wires": [
      [
        "obs22_ok"
      ],
      [
        "obs22_warn"
      ],
      [
        "obs22_critical"
      ]
    ]
  },
  {
    "id": "obs22_ok",
    "type": "debug",
    "z": "obs22_flow",
    "name": "Normal transition",
    "active": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 720,
    "y": 100,
    "wires": []
  },
  {
    "id": "obs22_warn",
    "type": "debug",
    "z": "obs22_flow",
    "name": "Warning transition",
    "active": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 720,
    "y": 150,
    "wires": []
  },
  {
    "id": "obs22_critical",
    "type": "debug",
    "z": "obs22_flow",
    "name": "CRITICAL transition",
    "active": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 730,
    "y": 200,
    "wires": []
  },
  {
    "id": "obs22_profile",
    "type": "mavlink-ai-profile",
    "name": "Safety monitor GCS",
    "firmware": "ardupilot",
    "dialectSource": "bundled",
    "dialect": "ardupilotmega",
    "customDialectPath": "",
    "mavlinkVersion": "auto",
    "defaultTargetSystem": 1,
    "defaultTargetComponent": 1,
    "preferredMissionItemType": "MISSION_ITEM_INT",
    "defaultMissionType": "mission",
    "debugProtocol": false,
    "vehicleFamily": "generic"
  },
  {
    "id": "obs22_profile__identity",
    "type": "mavlink-ai-local-identity",
    "name": "Safety monitor GCS GCS",
    "role": "gcs",
    "sourceSystemId": 255,
    "sourceComponentId": 190,
    "heartbeatType": "",
    "heartbeatAutopilot": "MAV_AUTOPILOT_INVALID",
    "signOutbound": false,
    "verifyInbound": false,
    "requireSignature": false
  },
  {
    "id": "obs22_conn",
    "type": "mavlink-ai-connection",
    "name": "Safety UDP 14550",
    "profile": "obs22_profile",
    "transport": "udp-peer",
    "routingMode": "single-profile",
    "bindAddress": "0.0.0.0",
    "bindPort": 14550,
    "remoteHost": "",
    "remotePort": 14550,
    "reconnect": true,
    "heartbeat": true,
    "heartbeatIntervalMs": 1000,
    "acceptedSysids": "",
    "acceptedCompids": "",
    "unmatchedPolicy": "default",
    "routeTable": "",
    "outboundQueue": true,
    "localIdentity": "obs22_profile__identity",
    "allowMultipleIdentities": false,
    "additionalIdentities": "",
    "signingLinkId": 0
  }
]
