examples/09-observability/25-record-and-replay-telemetry.json
[
  {
    "id": "obs25_flow",
    "type": "tab",
    "label": "MAVLink AI - 25 Record and Replay Telemetry",
    "disabled": false,
    "info": "Records normalized decoded messages as JSON Lines and replays them with relative timing. Replay output uses the same {topic,payload} contract as mavlink-ai-in, so it can be wired into dashboard/test processing functions. It is deliberately not injected into a live connection."
  },
  {
    "id": "obs25_note",
    "type": "comment",
    "z": "obs25_flow",
    "name": "JSONL recorder + safe offline replay",
    "info": "Default recording path is ./mavlink-ai-telemetry.jsonl in the Node-RED working directory. The included fixture path assumes a normal palette installation under node_modules.",
    "x": 280,
    "y": 40,
    "wires": []
  },
  {
    "id": "obs25_start",
    "type": "inject",
    "z": "obs25_flow",
    "name": "Start recording",
    "props": [{"p":"recording","v":"true","vt":"bool"}],
    "repeat": "",
    "once": false,
    "x": 140,
    "y": 100,
    "wires": [["obs25_control"]]
  },
  {
    "id": "obs25_stop",
    "type": "inject",
    "z": "obs25_flow",
    "name": "Stop recording",
    "props": [{"p":"recording","v":"false","vt":"bool"}],
    "repeat": "",
    "once": false,
    "x": 140,
    "y": 140,
    "wires": [["obs25_control"]]
  },
  {
    "id": "obs25_control",
    "type": "function",
    "z": "obs25_flow",
    "name": "Recorder control",
    "func": "flow.set('mavlinkAiRecording', msg.recording === true);\nnode.status({fill:msg.recording?'green':'grey',shape:'dot',text:msg.recording?'recording':'stopped'});\nreturn null;",
    "outputs": 1,
    "x": 360,
    "y": 120,
    "wires": [[]]
  },
  {
    "id": "obs25_in",
    "type": "mavlink-ai-in",
    "z": "obs25_flow",
    "name": "All decoded telemetry",
    "connection": "obs25_conn",
    "messageNames": "",
    "messageIds": "",
    "sysid": "",
    "compid": "",
    "profileFilter": "",
    "rateLimitHz": 0,
    "changedOnly": false,
    "outputRaw": false,
    "outputErrors": false,
    "outputs": 1,
    "x": 160,
    "y": 210,
    "wires": [["obs25_format"]]
  },
  {
    "id": "obs25_format",
    "type": "function",
    "z": "obs25_flow",
    "name": "Format one JSONL record",
    "func": "if (flow.get('mavlinkAiRecording') !== true) return null;\nmsg.filename = './mavlink-ai-telemetry.jsonl';\nmsg.payload = JSON.stringify({ recordedAt:Date.now(), topic:msg.topic, payload:msg.payload }) + '\\n';\nreturn msg;",
    "outputs": 1,
    "x": 410,
    "y": 210,
    "wires": [["obs25_file_out"]]
  },
  {
    "id": "obs25_file_out",
    "type": "file",
    "z": "obs25_flow",
    "name": "Append telemetry JSONL",
    "filename": "",
    "filenameType": "str",
    "appendNewline": false,
    "createDir": false,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 660,
    "y": 210,
    "wires": [[]]
  },
  {
    "id": "obs25_fixture",
    "type": "inject",
    "z": "obs25_flow",
    "name": "Replay included fixture at 2x",
    "props": [{"p":"payload","v":"{\"filename\":\"node_modules/node-red-contrib-mavlink-ai/resources/fixtures/vehicle-status-demo.jsonl\",\"speed\":2}","vt":"json"}],
    "repeat": "",
    "once": false,
    "x": 190,
    "y": 310,
    "wires": [["obs25_prepare"]]
  },
  {
    "id": "obs25_recording",
    "type": "inject",
    "z": "obs25_flow",
    "name": "Replay recorded file at 1x",
    "props": [{"p":"payload","v":"{\"filename\":\"./mavlink-ai-telemetry.jsonl\",\"speed\":1}","vt":"json"}],
    "repeat": "",
    "once": false,
    "x": 190,
    "y": 350,
    "wires": [["obs25_prepare"]]
  },
  {
    "id": "obs25_prepare",
    "type": "function",
    "z": "obs25_flow",
    "name": "Prepare replay file",
    "func": "const p=msg.payload||{};msg.filename=String(p.filename||'./mavlink-ai-telemetry.jsonl');msg.replaySpeed=Math.max(0.1,Math.min(20,Number(p.speed)||1));return msg;",
    "outputs": 1,
    "x": 450,
    "y": 330,
    "wires": [["obs25_file_in"]]
  },
  {
    "id": "obs25_file_in",
    "type": "file in",
    "z": "obs25_flow",
    "name": "Read JSONL",
    "filename": "",
    "filenameType": "str",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": false,
    "x": 650,
    "y": 330,
    "wires": [["obs25_replay"]]
  },
  {
    "id": "obs25_cancel",
    "type": "inject",
    "z": "obs25_flow",
    "name": "Stop replay",
    "props": [{"p":"stopReplay","v":"true","vt":"bool"}],
    "repeat": "",
    "once": false,
    "x": 410,
    "y": 390,
    "wires": [["obs25_replay"]]
  },
  {
    "id": "obs25_replay",
    "type": "function",
    "z": "obs25_flow",
    "name": "Replay with original timing",
    "func": "const old=context.get('timers')||[];for(const timer of old)clearTimeout(timer);context.set('timers',[]);if(msg.stopReplay){node.status({fill:'grey',shape:'dot',text:'replay stopped'});return null;}\nlet records;try{records=String(msg.payload||'').split(/\\r?\\n/).filter(Boolean).map(line=>JSON.parse(line));}catch(error){node.error(`Invalid JSONL: ${error.message}`,msg);return null;}if(!records.length)return null;\nconst first=Number(records[0].recordedAt)||0,speed=Number(msg.replaySpeed)||1,timers=[];records.forEach((record,index)=>{const at=Number(record.recordedAt)||first;const delay=Math.max(0,(at-first)/speed);timers.push(setTimeout(()=>{const payload=Object.assign({},record.payload,{receivedAt:Date.now(),replayed:true});node.send({topic:record.topic||`mavlink/${payload.name||'UNKNOWN'}`,payload});if(index===records.length-1)node.status({fill:'green',shape:'dot',text:`replayed ${records.length}`});},delay));});context.set('timers',timers);node.status({fill:'blue',shape:'dot',text:`replaying ${records.length} at ${speed}x`});return null;",
    "outputs": 1,
    "x": 880,
    "y": 350,
    "wires": [["obs25_debug"]]
  },
  {
    "id": "obs25_debug",
    "type": "debug",
    "z": "obs25_flow",
    "name": "Replayed normalized message",
    "active": true,
    "complete": "true",
    "targetType": "full",
    "x": 1150,
    "y": 350,
    "wires": []
  },
  {
    "id": "obs25_profile",
    "type": "mavlink-ai-profile",
    "name": "Recorder GCS",
    "profileType": "gcs",
    "firmware": "ardupilot",
    "dialectSource": "bundled",
    "dialect": "ardupilotmega",
    "customDialectPath": "",
    "mavlinkVersion": "auto",
    "sourceSystemId": 255,
    "sourceComponentId": 190,
    "defaultTargetSystem": 1,
    "defaultTargetComponent": 1,
    "preferredMissionItemType": "MISSION_ITEM_INT",
    "defaultMissionType": "mission",
    "debugProtocol": false,
    "signOutbound": false,
    "verifyInbound": false,
    "requireSignature": false,
    "signingLinkId": 0
  },
  {
    "id": "obs25_conn",
    "type": "mavlink-ai-connection",
    "name": "Recorder UDP 14550",
    "profile": "obs25_profile",
    "transport": "udp-peer",
    "routingMode": "single-profile",
    "bindAddress": "0.0.0.0",
    "bindPort": 14550,
    "remoteHost": "",
    "remotePort": 14550,
    "reconnect": true,
    "heartbeat": true,
    "heartbeatIntervalMs": 1000,
    "acceptedSysids": "",
    "acceptedCompids": "",
    "unmatchedPolicy": "default",
    "routeTable": "",
    "outboundQueue": true
  }
]
