examples/09-observability/26-geofence-monitor.json
[
  {
    "id": "obs26_flow",
    "type": "tab",
    "label": "MAVLink AI - 26 Local Geofence Monitor",
    "disabled": false,
    "info": "Display/alert geofence example. The first valid position becomes home; Reset home captures the next position. The 500m horizontal and 120m relative-altitude limits are examples only. This flow does not configure or replace the autopilot geofence."
  },
  {
    "id": "obs26_note",
    "type": "comment",
    "z": "obs26_flow",
    "name": "Monitoring only — configure the real fence in the flight controller",
    "info": "Edit the fenceMeters and altitudeMeters values in Compute distance from home. Output can feed the status dashboard or another UI.",
    "x": 350,
    "y": 40,
    "wires": []
  },
  {
    "id": "obs26_in",
    "type": "mavlink-ai-in",
    "z": "obs26_flow",
    "name": "Position",
    "connection": "obs26_conn",
    "messageNames": "GLOBAL_POSITION_INT",
    "messageIds": "",
    "sysid": "",
    "compid": "",
    "profileFilter": "",
    "rateLimitHz": 5,
    "changedOnly": false,
    "outputRaw": false,
    "outputErrors": false,
    "outputs": 1,
    "x": 130,
    "y": 120,
    "wires": [
      [
        "obs26_calc"
      ]
    ]
  },
  {
    "id": "obs26_reset",
    "type": "inject",
    "z": "obs26_flow",
    "name": "Reset home on next position",
    "props": [
      {
        "p": "resetHome",
        "v": "true",
        "vt": "bool"
      }
    ],
    "repeat": "",
    "once": false,
    "topic": "",
    "x": 180,
    "y": 180,
    "wires": [
      [
        "obs26_calc"
      ]
    ]
  },
  {
    "id": "obs26_calc",
    "type": "function",
    "z": "obs26_flow",
    "name": "Compute distance from home",
    "func": "const fenceMeters=500, altitudeMeters=120;\nif(msg.resetHome){context.set('captureHome',true);return null;}\nconst p=msg.payload||{},f=p.fields||{};if(p.name!=='GLOBAL_POSITION_INT')return null;\nconst position={lat:Number(f.lat)/1e7,lon:Number(f.lon)/1e7,alt:Number(f.alt)/1000,relative_alt:Number(f.relative_alt)/1000};if(!Number.isFinite(position.lat)||!Number.isFinite(position.lon))return null;\nlet home=context.get('home');if(!home||context.get('captureHome')){home={lat:position.lat,lon:position.lon};context.set('home',home);context.set('captureHome',false);}\nconst rad=Math.PI/180,dLat=(position.lat-home.lat)*rad,dLon=(position.lon-home.lon)*rad;const a=Math.sin(dLat/2)**2+Math.cos(home.lat*rad)*Math.cos(position.lat*rad)*Math.sin(dLon/2)**2;const distance=6371000*2*Math.atan2(Math.sqrt(a),Math.sqrt(1-a));const horizontalBreach=distance>fenceMeters,altitudeBreach=position.relative_alt>altitudeMeters;\nmsg.topic=(horizontalBreach||altitudeBreach)?'geofence/breach':'geofence/status';msg.payload={profile_id:p.profile_id,profile_name:p.profile,sysid:p.sysid,compid:p.compid,home,position,distance_m:distance,fence_m:fenceMeters,altitude_limit_m:altitudeMeters,horizontal_breach:horizontalBreach,altitude_breach:altitudeBreach,advisoryOnly:true};\nreturn [horizontalBreach||altitudeBreach?null:msg,horizontalBreach||altitudeBreach?msg:null];",
    "outputs": 2,
    "x": 440,
    "y": 140,
    "wires": [
      [
        "obs26_status"
      ],
      [
        "obs26_breach"
      ]
    ]
  },
  {
    "id": "obs26_status",
    "type": "debug",
    "z": "obs26_flow",
    "name": "Inside display fence",
    "active": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 700,
    "y": 110,
    "wires": []
  },
  {
    "id": "obs26_breach",
    "type": "debug",
    "z": "obs26_flow",
    "name": "DISPLAY FENCE BREACH",
    "active": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 720,
    "y": 170,
    "wires": []
  },
  {
    "id": "obs26_profile",
    "type": "mavlink-ai-vehicle",
    "name": "Geofence monitor GCS",
    "firmware": "ardupilot",
    "dialectSource": "bundled",
    "dialect": "ardupilotmega",
    "customDialectPath": "",
    "defaultTargetSystem": 1,
    "defaultTargetComponent": 1,
    "preferredMissionItemType": "MISSION_ITEM_INT",
    "debugProtocol": false,
    "vehicleFamily": "generic"
  },
  {
    "id": "obs26_profile__identity",
    "type": "mavlink-ai-local-identity",
    "name": "Geofence monitor GCS GCS",
    "role": "gcs",
    "sourceSystemId": 255,
    "sourceComponentId": 190,
    "heartbeatType": "",
    "heartbeatAutopilot": "MAV_AUTOPILOT_INVALID",
    "signOutbound": false,
    "verifyInbound": false,
    "requireSignature": false
  },
  {
    "id": "obs26_conn",
    "type": "mavlink-ai-connection",
    "name": "Geofence UDP 14550",
    "profile": "obs26_profile",
    "transport": "udp",
    "routingMode": "single-profile",
    "bindAddress": "0.0.0.0",
    "bindPort": 14550,
    "remoteHost": "",
    "remotePort": "",
    "reconnect": true,
    "heartbeat": true,
    "heartbeatIntervalMs": 1000,
    "acceptedSysids": "",
    "acceptedCompids": "",
    "unmatchedPolicy": "default",
    "routeTable": "",
    "outboundQueue": true,
    "localIdentity": "obs26_profile__identity",
    "allowMultipleIdentities": false,
    "additionalIdentities": "",
    "signingLinkId": 0
  }
]
