examples/04-missions/06-download-mission.json
[
  {
    "id": "flow06",
    "type": "tab",
    "label": "MAVLink AI - 06 Download Mission",
    "disabled": false,
    "info": ""
  },
  {
    "id": "ai_profile_copter",
    "type": "mavlink-ai-vehicle",
    "name": "AI Profile - Copter",
    "dialect": "ardupilotmega",
    "customDialectPath": "",
    "mavlinkVersion": "auto",
    "defaultTargetSystem": 1,
    "defaultTargetComponent": 1,
    "preferredMissionItemType": "MISSION_ITEM_INT",
    "defaultMissionType": "mission",
    "debugProtocol": false,
    "vehicleFamily": "generic"
  },
  {
    "id": "ai_profile_copter__identity",
    "type": "mavlink-ai-local-identity",
    "name": "AI Profile - Copter GCS",
    "role": "gcs",
    "sourceSystemId": 255,
    "sourceComponentId": 190,
    "heartbeatType": "",
    "heartbeatAutopilot": "MAV_AUTOPILOT_INVALID",
    "signOutbound": false,
    "verifyInbound": false,
    "requireSignature": false
  },
  {
    "id": "ai_conn_udp",
    "type": "mavlink-ai-connection",
    "name": "AI Conn - Copter UDP 14550",
    "profile": "ai_profile_copter",
    "transport": "udp-peer",
    "routingMode": "single-profile",
    "bindAddress": "0.0.0.0",
    "bindPort": 14550,
    "remoteHost": "",
    "remotePort": 14550,
    "serialPath": "",
    "serialBaud": 57600,
    "reconnect": true,
    "heartbeat": true,
    "heartbeatIntervalMs": 1000,
    "acceptedSysids": "",
    "acceptedCompids": "",
    "unmatchedPolicy": "default",
    "routeTable": "",
    "outboundQueue": true,
    "localIdentity": "ai_profile_copter__identity",
    "allowMultipleIdentities": false,
    "additionalIdentities": "",
    "signingLinkId": 0
  },
  {
    "id": "n06_inj",
    "type": "inject",
    "z": "flow06",
    "name": "Download",
    "props": [
      {
        "p": "payload",
        "v": "{\"action\":\"download\"}",
        "vt": "json"
      }
    ],
    "repeat": "",
    "once": false,
    "payloadType": "json",
    "x": 140,
    "y": 120,
    "wires": [
      [
        "n06_mission"
      ]
    ]
  },
  {
    "id": "n06_mission",
    "type": "mavlink-ai-mission",
    "z": "flow06",
    "name": "Mission",
    "connection": "ai_conn_udp",
    "action": "download",
    "timeoutMs": 3000,
    "maxRetries": 3,
    "x": 330,
    "y": 120,
    "wires": [
      [
        "n06_done"
      ],
      [
        "n06_prog"
      ],
      [
        "n06_err"
      ]
    ]
  },
  {
    "id": "n06_done",
    "type": "debug",
    "z": "flow06",
    "name": "mission",
    "active": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 540,
    "y": 80,
    "wires": []
  },
  {
    "id": "n06_prog",
    "type": "debug",
    "z": "flow06",
    "name": "progress",
    "active": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 540,
    "y": 130,
    "wires": []
  },
  {
    "id": "n06_err",
    "type": "debug",
    "z": "flow06",
    "name": "error",
    "active": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 540,
    "y": 180,
    "wires": []
  }
]
