examples/04-missions/23-upload-clear-mission.json
[
  {
    "id": "mission23_flow",
    "type": "tab",
    "label": "MAVLink AI - 23 Upload, Verify, and Clear Mission",
    "disabled": false,
    "info": "Mission upload/clear parity example. Uploads a small waypoint mission using the friendly waypoints shape, supports acknowledged clear, and provides a separate download trigger for verification. Test in SITL before real hardware."
  },
  {
    "id": "mission23_note",
    "type": "comment",
    "z": "mission23_flow",
    "name": "SITL first: verify coordinates, altitude frame, and vehicle target",
    "info": "The example coordinates are intentionally generic. Replace them with a safe test area before upload. Upload does not arm or start the mission.",
    "x": 340,
    "y": 40,
    "wires": []
  },
  {
    "id": "mission23_upload",
    "type": "inject",
    "z": "mission23_flow",
    "name": "Upload 3-waypoint mission",
    "props": [
      {
        "p": "topic",
        "v": "upload_mission",
        "vt": "str"
      },
      {
        "p": "payload",
        "v": "{\"waypoints\":[{\"lat\":39.1000,\"lon\":-75.1000,\"alt\":30,\"command\":\"MAV_CMD_NAV_TAKEOFF\"},{\"lat\":39.1005,\"lon\":-75.1005,\"alt\":40},{\"lat\":39.1000,\"lon\":-75.1000,\"alt\":0,\"command\":\"MAV_CMD_NAV_LAND\"}]}",
        "vt": "json"
      }
    ],
    "repeat": "",
    "once": false,
    "x": 180,
    "y": 110,
    "wires": [
      [
        "mission23_node"
      ]
    ]
  },
  {
    "id": "mission23_download",
    "type": "inject",
    "z": "mission23_flow",
    "name": "Download to verify",
    "props": [
      {
        "p": "topic",
        "v": "download_mission",
        "vt": "str"
      },
      {
        "p": "payload",
        "v": "{}",
        "vt": "json"
      }
    ],
    "repeat": "",
    "once": false,
    "x": 160,
    "y": 160,
    "wires": [
      [
        "mission23_node"
      ]
    ]
  },
  {
    "id": "mission23_clear_ack",
    "type": "inject",
    "z": "mission23_flow",
    "name": "Clear and wait for ACK",
    "props": [
      {
        "p": "topic",
        "v": "clear_mission",
        "vt": "str"
      },
      {
        "p": "payload",
        "v": "{\"wait_ack\":true,\"timeout_ms\":10000}",
        "vt": "json"
      }
    ],
    "repeat": "",
    "once": false,
    "x": 180,
    "y": 210,
    "wires": [
      [
        "mission23_node"
      ]
    ]
  },
  {
    "id": "mission23_clear_best",
    "type": "inject",
    "z": "mission23_flow",
    "name": "Best-effort clear",
    "props": [
      {
        "p": "topic",
        "v": "clear_mission",
        "vt": "str"
      },
      {
        "p": "payload",
        "v": "{}",
        "vt": "json"
      }
    ],
    "repeat": "",
    "once": false,
    "x": 160,
    "y": 260,
    "wires": [
      [
        "mission23_node"
      ]
    ]
  },
  {
    "id": "mission23_node",
    "type": "mavlink-ai-mission",
    "z": "mission23_flow",
    "name": "Mission workflow",
    "connection": "mission23_conn",
    "profile": "mission23_profile",
    "action": "download",
    "timeoutMs": 10000,
    "maxRetries": 3,
    "x": 440,
    "y": 180,
    "wires": [
      [
        "mission23_result"
      ],
      [
        "mission23_progress"
      ],
      [
        "mission23_error"
      ]
    ]
  },
  {
    "id": "mission23_result",
    "type": "debug",
    "z": "mission23_flow",
    "name": "Mission result",
    "active": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 690,
    "y": 130,
    "wires": []
  },
  {
    "id": "mission23_progress",
    "type": "debug",
    "z": "mission23_flow",
    "name": "Mission progress",
    "active": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 700,
    "y": 180,
    "wires": []
  },
  {
    "id": "mission23_error",
    "type": "debug",
    "z": "mission23_flow",
    "name": "Mission error",
    "active": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 690,
    "y": 230,
    "wires": []
  },
  {
    "id": "mission23_profile",
    "type": "mavlink-ai-vehicle",
    "name": "Mission GCS",
    "firmware": "ardupilot",
    "dialectSource": "bundled",
    "dialect": "ardupilotmega",
    "customDialectPath": "",
    "mavlinkVersion": "auto",
    "defaultTargetSystem": 1,
    "defaultTargetComponent": 1,
    "preferredMissionItemType": "MISSION_ITEM_INT",
    "defaultMissionType": "mission",
    "debugProtocol": false,
    "vehicleFamily": "generic"
  },
  {
    "id": "mission23_profile__identity",
    "type": "mavlink-ai-local-identity",
    "name": "Mission GCS GCS",
    "role": "gcs",
    "sourceSystemId": 255,
    "sourceComponentId": 190,
    "heartbeatType": "",
    "heartbeatAutopilot": "MAV_AUTOPILOT_INVALID",
    "signOutbound": false,
    "verifyInbound": false,
    "requireSignature": false
  },
  {
    "id": "mission23_conn",
    "type": "mavlink-ai-connection",
    "name": "Mission UDP 14550",
    "profile": "mission23_profile",
    "transport": "udp-peer",
    "routingMode": "single-profile",
    "bindAddress": "0.0.0.0",
    "bindPort": 14550,
    "remoteHost": "",
    "remotePort": 14550,
    "reconnect": true,
    "heartbeat": true,
    "heartbeatIntervalMs": 1000,
    "acceptedSysids": "",
    "acceptedCompids": "",
    "unmatchedPolicy": "default",
    "routeTable": "",
    "outboundQueue": true,
    "localIdentity": "mission23_profile__identity",
    "allowMultipleIdentities": false,
    "additionalIdentities": "",
    "signingLinkId": 0
  }
]
