examples/03-parameters/24-parameter-browser-web.json
[
  {
    "id": "param24_flow",
    "type": "tab",
    "label": "MAVLink AI - 24 Parameter Browser Web UI",
    "disabled": false,
    "info": "Optional dependency-free parameter browser at /mavlink-ai/parameters. List/read/set operations run through mavlink-ai-param. Set requires literal SET confirmation. Protect Node-RED HTTP endpoints with httpNodeAuth and never expose this flow directly to an untrusted network."
  },
  {
    "id": "param24_note",
    "type": "comment",
    "z": "param24_flow",
    "name": "Open /mavlink-ai/parameters — protect HTTP nodes and test changes in SITL",
    "info": "Setting parameters can make a vehicle unsafe or unbootable. The UI requires SET confirmation, but authentication and network exposure remain the operator's responsibility.",
    "x": 390,
    "y": 40,
    "wires": []
  },
  {
    "id": "param24_page_in",
    "type": "http in",
    "z": "param24_flow",
    "name": "GET parameter page",
    "url": "/mavlink-ai/parameters",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 110,
    "wires": [
      [
        "param24_asset"
      ]
    ]
  },
  {
    "id": "param24_asset",
    "type": "function",
    "z": "param24_flow",
    "name": "Serve parameter asset",
    "func": "msg.filename = '/data/node_modules/node-red-contrib-mavlink-ai/resources/assets/parameter-browser.html';\nreturn msg;",
    "outputs": 1,
    "x": 390,
    "y": 110,
    "wires": [
      [
        "param24_file"
      ]
    ]
  },
  {
    "id": "param24_file",
    "type": "file in",
    "z": "param24_flow",
    "name": "Read parameter HTML",
    "filename": "filename",
    "filenameType": "msg",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": false,
    "x": 630,
    "y": 110,
    "wires": [
      [
        "param24_html"
      ]
    ]
  },
  {
    "id": "param24_html",
    "type": "function",
    "z": "param24_flow",
    "name": "HTML headers",
    "func": "msg.headers = { 'content-type':'text/html; charset=utf-8', 'cache-control':'no-store' };\nreturn msg;",
    "outputs": 1,
    "x": 840,
    "y": 110,
    "wires": [
      [
        "param24_page_response"
      ]
    ]
  },
  {
    "id": "param24_page_response",
    "type": "http response",
    "z": "param24_flow",
    "name": "parameter page",
    "statusCode": "",
    "headers": {},
    "x": 1040,
    "y": 110,
    "wires": []
  },
  {
    "id": "param24_status_in",
    "type": "http in",
    "z": "param24_flow",
    "name": "GET parameter state",
    "url": "/mavlink-ai/parameters.json",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 160,
    "y": 170,
    "wires": [
      [
        "param24_status"
      ]
    ]
  },
  {
    "id": "param24_status",
    "type": "function",
    "z": "param24_flow",
    "name": "Read browser state",
    "func": "msg.headers = { 'content-type':'application/json; charset=utf-8', 'cache-control':'no-store' };\nmsg.payload = flow.get('mavlinkAiParamBrowser') || { params: [], message: 'No parameter operation completed yet.' };\nreturn msg;",
    "outputs": 1,
    "x": 390,
    "y": 170,
    "wires": [
      [
        "param24_status_response"
      ]
    ]
  },
  {
    "id": "param24_status_response",
    "type": "http response",
    "z": "param24_flow",
    "name": "parameter state",
    "statusCode": "",
    "headers": {},
    "x": 640,
    "y": 170,
    "wires": []
  },
  {
    "id": "param24_action_in",
    "type": "http in",
    "z": "param24_flow",
    "name": "POST parameter action",
    "url": "/mavlink-ai/parameters/action",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 250,
    "wires": [
      [
        "param24_validate"
      ]
    ]
  },
  {
    "id": "param24_validate",
    "type": "function",
    "z": "param24_flow",
    "name": "Validate and acknowledge request",
    "func": "const body = msg.payload && typeof msg.payload === 'object' ? msg.payload : {};\nconst action = String(body.action || 'list').toLowerCase();\nconst respond = (statusCode, payload) => ({ _msgid:msg._msgid, req:msg.req, res:msg.res, statusCode, headers:{'content-type':'application/json; charset=utf-8','cache-control':'no-store'}, payload });\nif (!['list','read','set'].includes(action)) return [null, respond(400,{message:'action must be list, read, or set'})];\nconst paramId = String(body.param_id || '').trim().toUpperCase();\nif ((action==='read'||action==='set') && !/^[A-Z0-9_]{1,16}$/.test(paramId)) return [null, respond(400,{message:'param_id must be 1-16 letters, digits, or underscores'})];\nif (action==='set' && body.confirm !== 'SET') return [null, respond(400,{message:'Type SET in the confirmation field before changing a parameter.'})];\nif (action==='set' && !Number.isFinite(Number(body.param_value))) return [null, respond(400,{message:'param_value must be a finite number'})];\nconst workflow = Object.assign({}, msg, { payload:{ action, param_id:paramId, param_value:action==='set'?Number(body.param_value):undefined, param_type:body.param_type || 'auto' } }); delete workflow.req; delete workflow.res;\nreturn [workflow, respond(202,{message:`${action} request accepted; results will appear shortly`})];",
    "outputs": 2,
    "x": 460,
    "y": 250,
    "wires": [
      [
        "param24_param"
      ],
      [
        "param24_action_response"
      ]
    ]
  },
  {
    "id": "param24_action_response",
    "type": "http response",
    "z": "param24_flow",
    "name": "action accepted/rejected",
    "statusCode": "",
    "headers": {},
    "x": 750,
    "y": 300,
    "wires": []
  },
  {
    "id": "param24_param",
    "type": "mavlink-ai-param",
    "z": "param24_flow",
    "name": "Parameter workflow",
    "connection": "param24_conn",
    "profile": "param24_profile",
    "action": "list",
    "paramId": "",
    "paramType": "auto",
    "timeoutMs": 3000,
    "maxRetries": 3,
    "x": 730,
    "y": 240,
    "wires": [
      [
        "param24_store_result"
      ],
      [
        "param24_store_progress"
      ],
      [
        "param24_store_error"
      ]
    ]
  },
  {
    "id": "param24_store_result",
    "type": "function",
    "z": "param24_flow",
    "name": "Store parameter result",
    "func": "const state = flow.get('mavlinkAiParamBrowser') || { params: [] };\nconst p = msg.payload || {};\nif (msg.topic === 'param/list' && Array.isArray(p.params)) state.params = p.params;\nif ((msg.topic === 'param/value' || msg.topic === 'param/set') && p.param_id) { const index=state.params.findIndex(x=>String(x.param_id).toUpperCase()===String(p.param_id).toUpperCase()); if(index>=0)state.params[index]=p;else state.params.push(p); }\nstate.message = `${msg.topic || 'parameter'} completed`; state.progress = ''; state.updatedAt = Date.now(); flow.set('mavlinkAiParamBrowser',state);\nreturn msg;",
    "outputs": 1,
    "x": 1010,
    "y": 210,
    "wires": [
      [
        "param24_debug"
      ]
    ]
  },
  {
    "id": "param24_store_progress",
    "type": "function",
    "z": "param24_flow",
    "name": "Store parameter progress",
    "func": "const state = flow.get('mavlinkAiParamBrowser') || { params: [] }; const p=msg.payload||{}; state.progress=p.count!=null?`Receiving parameters ${p.received||0}/${p.count}`:(p.state||'working'); state.updatedAt=Date.now(); flow.set('mavlinkAiParamBrowser',state); return null;",
    "outputs": 1,
    "x": 1020,
    "y": 250,
    "wires": [
      []
    ]
  },
  {
    "id": "param24_store_error",
    "type": "function",
    "z": "param24_flow",
    "name": "Store parameter error",
    "func": "const state = flow.get('mavlinkAiParamBrowser') || { params: [] }; state.message=(msg.payload&&msg.payload.message)||'Parameter operation failed'; state.progress=''; state.error=msg.payload; state.updatedAt=Date.now(); flow.set('mavlinkAiParamBrowser',state); return msg;",
    "outputs": 1,
    "x": 1010,
    "y": 290,
    "wires": [
      [
        "param24_debug"
      ]
    ]
  },
  {
    "id": "param24_debug",
    "type": "debug",
    "z": "param24_flow",
    "name": "Parameter result/error",
    "active": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 1260,
    "y": 250,
    "wires": []
  },
  {
    "id": "param24_profile",
    "type": "mavlink-ai-vehicle",
    "name": "Parameter GCS",
    "firmware": "ardupilot",
    "dialectSource": "bundled",
    "dialect": "ardupilotmega",
    "customDialectPath": "",
    "defaultTargetSystem": 1,
    "defaultTargetComponent": 1,
    "preferredMissionItemType": "MISSION_ITEM_INT",
    "debugProtocol": false,
    "vehicleFamily": "generic"
  },
  {
    "id": "param24_profile__identity",
    "type": "mavlink-ai-local-identity",
    "name": "Parameter GCS GCS",
    "role": "gcs",
    "sourceSystemId": 255,
    "sourceComponentId": 190,
    "heartbeatType": "",
    "heartbeatAutopilot": "MAV_AUTOPILOT_INVALID",
    "signOutbound": false,
    "verifyInbound": false,
    "requireSignature": false
  },
  {
    "id": "param24_conn",
    "type": "mavlink-ai-connection",
    "name": "Parameter UDP 14550",
    "profile": "param24_profile",
    "transport": "udp",
    "routingMode": "single-profile",
    "bindAddress": "0.0.0.0",
    "bindPort": 14550,
    "remoteHost": "",
    "remotePort": "",
    "reconnect": true,
    "heartbeat": true,
    "heartbeatIntervalMs": 1000,
    "acceptedSysids": "",
    "acceptedCompids": "",
    "unmatchedPolicy": "default",
    "routeTable": "",
    "outboundQueue": true,
    "localIdentity": "param24_profile__identity",
    "allowMultipleIdentities": false,
    "additionalIdentities": "",
    "signingLinkId": 0
  }
]
