examples/07-safety-critical/19-command-calibration-warning-gated.json
[
  {
    "id": "flow19",
    "type": "tab",
    "label": "MAVLink AI - 19 Calibration (bench only)",
    "disabled": false,
    "info": "WARNING \u2014 bench-only admin workflow (issue #51). MAV_CMD_PREFLIGHT_CALIBRATION recalibrates sensors and MUST NOT run while armed or flying; a bad calibration can make the vehicle unflyable until redone. The gate function refuses to pass the command through unless msg.payload.i_confirm_bench_only === true, and the output is Debug-wired. Set the confirmation deliberately \u2014 do not remove the gate."
  },
  {
    "id": "ai_profile_copter",
    "type": "mavlink-ai-vehicle",
    "name": "AI Profile - Copter",
    "firmware": "ardupilot",
    "dialect": "ardupilotmega",
    "customDialectPath": "",
    "mavlinkVersion": "auto",
    "defaultTargetSystem": 1,
    "defaultTargetComponent": 1,
    "preferredMissionItemType": "MISSION_ITEM_INT",
    "defaultMissionType": "mission",
    "debugProtocol": false,
    "vehicleFamily": "copter"
  },
  {
    "id": "ai_profile_copter__identity",
    "type": "mavlink-ai-local-identity",
    "name": "AI Profile - Copter Identity",
    "role": "custom",
    "sourceSystemId": 255,
    "sourceComponentId": 190,
    "heartbeatType": "",
    "heartbeatAutopilot": "MAV_AUTOPILOT_INVALID",
    "signOutbound": false,
    "verifyInbound": false,
    "requireSignature": false
  },
  {
    "id": "n19_inject",
    "type": "inject",
    "z": "flow19",
    "name": "Gyro calibration (confirmed)",
    "props": [
      {
        "p": "payload"
      }
    ],
    "payload": "{\"i_confirm_bench_only\":true}",
    "payloadType": "json",
    "x": 190,
    "y": 100,
    "wires": [
      [
        "n19_gate"
      ]
    ]
  },
  {
    "id": "n19_gate",
    "type": "function",
    "z": "flow19",
    "name": "Confirmation gate",
    "func": "// Safety gate: calibration is bench-only. Refuse anything unconfirmed.\nif (msg.payload && msg.payload.i_confirm_bench_only === true) {\n    return msg;\n}\nnode.warn('Calibration blocked: set msg.payload.i_confirm_bench_only = true (bench only, never armed).');\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "x": 430,
    "y": 100,
    "wires": [
      [
        "n19_cal"
      ]
    ]
  },
  {
    "id": "n19_cal",
    "type": "mavlink-ai-command",
    "z": "flow19",
    "name": "PREFLIGHT_CALIBRATION (gyro)",
    "profile": "ai_profile_copter",
    "command": "MAV_CMD_PREFLIGHT_CALIBRATION",
    "sendAs": "long",
    "awaitAck": false,
    "timeoutMs": 3000,
    "maxRetries": 3,
    "fields": "{\"param1\":1}",
    "presetFields": "",
    "x": 700,
    "y": 100,
    "wires": [
      [
        "n19_dbg"
      ]
    ]
  },
  {
    "id": "n19_dbg",
    "type": "debug",
    "z": "flow19",
    "name": "Would send (bench only!)",
    "active": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 950,
    "y": 100,
    "wires": []
  }
]
