examples/16-command-camera-trigger.json
[
  {
    "id": "flow16",
    "type": "tab",
    "label": "MAVLink AI - 16 Camera Trigger",
    "disabled": false,
    "info": "Camera capture via the friendly Camera presets (issues #51/#52): take a photo, start and stop video recording. Cameras are usually separate MAVLink components — the injects here pass target_component 100 (MAV_COMP_ID_CAMERA); adjust to your camera's component id, or remove it to target the autopilot. Debug-wired only."
  },
  {
    "id": "ai_profile_copter",
    "type": "mavlink-ai-profile",
    "name": "AI Profile - Copter",
    "profileType": "copter",
    "firmware": "ardupilot",
    "dialect": "ardupilotmega",
    "customDialectPath": "",
    "mavlinkVersion": "auto",
    "sourceSystemId": 255,
    "sourceComponentId": 190,
    "defaultTargetSystem": 1,
    "defaultTargetComponent": 1,
    "preferredMissionItemType": "MISSION_ITEM_INT",
    "defaultMissionType": "mission",
    "heartbeatType": "",
    "heartbeatAutopilot": "MAV_AUTOPILOT_INVALID",
    "debugProtocol": false
  },
  {
    "id": "n16_i1",
    "type": "inject",
    "z": "flow16",
    "name": "Take photo (camera comp 100)",
    "props": [{ "p": "payload" }],
    "payload": "{\"target_component\":100}",
    "payloadType": "json",
    "x": 200,
    "y": 100,
    "wires": [["n16_photo"]]
  },
  {
    "id": "n16_photo",
    "type": "mavlink-ai-command",
    "z": "flow16",
    "name": "Take Photo",
    "profile": "ai_profile_copter",
    "command": "take_photo",
    "sendAs": "long",
    "awaitAck": false,
    "timeoutMs": 3000,
    "maxRetries": 3,
    "fields": "",
    "presetFields": "{\"count\":1}",
    "x": 470,
    "y": 100,
    "wires": [["n16_dbg"]]
  },
  {
    "id": "n16_i2",
    "type": "inject",
    "z": "flow16",
    "name": "Start video",
    "props": [{ "p": "payload" }],
    "payload": "{\"target_component\":100}",
    "payloadType": "json",
    "x": 150,
    "y": 160,
    "wires": [["n16_start"]]
  },
  {
    "id": "n16_start",
    "type": "mavlink-ai-command",
    "z": "flow16",
    "name": "Start Video Recording",
    "profile": "ai_profile_copter",
    "command": "start_video",
    "sendAs": "long",
    "awaitAck": false,
    "timeoutMs": 3000,
    "maxRetries": 3,
    "fields": "",
    "presetFields": "{\"stream_id\":0}",
    "x": 500,
    "y": 160,
    "wires": [["n16_dbg"]]
  },
  {
    "id": "n16_i3",
    "type": "inject",
    "z": "flow16",
    "name": "Stop video",
    "props": [{ "p": "payload" }],
    "payload": "{\"target_component\":100}",
    "payloadType": "json",
    "x": 150,
    "y": 220,
    "wires": [["n16_stop"]]
  },
  {
    "id": "n16_stop",
    "type": "mavlink-ai-command",
    "z": "flow16",
    "name": "Stop Video Recording",
    "profile": "ai_profile_copter",
    "command": "stop_video",
    "sendAs": "long",
    "awaitAck": false,
    "timeoutMs": 3000,
    "maxRetries": 3,
    "fields": "",
    "presetFields": "{\"stream_id\":0}",
    "x": 500,
    "y": 220,
    "wires": [["n16_dbg"]]
  },
  {
    "id": "n16_dbg",
    "type": "debug",
    "z": "flow16",
    "name": "Would send",
    "active": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 720,
    "y": 160,
    "wires": []
  }
]
