examples/02-vehicle-control/04-arm-disarm-command.json
[
  {
    "id": "flow04",
    "type": "tab",
    "label": "MAVLink AI - 04 Arm / Disarm",
    "disabled": false,
    "info": ""
  },
  {
    "id": "ai_profile_copter",
    "type": "mavlink-ai-profile",
    "name": "AI Profile - Copter",
    "profileType": "gcs",
    "dialect": "ardupilotmega",
    "customDialectPath": "",
    "mavlinkVersion": "auto",
    "sourceSystemId": 255,
    "sourceComponentId": 190,
    "defaultTargetSystem": 1,
    "defaultTargetComponent": 1,
    "preferredMissionItemType": "MISSION_ITEM_INT",
    "defaultMissionType": "mission",
    "heartbeatType": "",
    "heartbeatAutopilot": "MAV_AUTOPILOT_INVALID",
    "debugProtocol": false
  },
  {
    "id": "ai_conn_udp",
    "type": "mavlink-ai-connection",
    "name": "AI Conn - Copter UDP 14550",
    "profile": "ai_profile_copter",
    "transport": "udp-peer",
    "routingMode": "single-profile",
    "bindAddress": "0.0.0.0",
    "bindPort": 14550,
    "remoteHost": "",
    "remotePort": 14550,
    "serialPath": "",
    "serialBaud": 57600,
    "reconnect": true,
    "heartbeat": true,
    "heartbeatIntervalMs": 1000,
    "acceptedSysids": "",
    "acceptedCompids": "",
    "unmatchedPolicy": "default",
    "routeTable": "",
    "outboundQueue": true
  },
  {
    "id": "n04_arm",
    "type": "inject",
    "z": "flow04",
    "name": "Arm",
    "props": [
      {
        "p": "command",
        "v": "arm",
        "vt": "str"
      }
    ],
    "repeat": "",
    "once": false,
    "payloadType": "date",
    "x": 130,
    "y": 100,
    "wires": [
      [
        "n04_cmd"
      ]
    ]
  },
  {
    "id": "n04_disarm",
    "type": "inject",
    "z": "flow04",
    "name": "Disarm",
    "props": [
      {
        "p": "command",
        "v": "disarm",
        "vt": "str"
      }
    ],
    "repeat": "",
    "once": false,
    "payloadType": "date",
    "x": 130,
    "y": 160,
    "wires": [
      [
        "n04_cmd"
      ]
    ]
  },
  {
    "id": "n04_cmd",
    "type": "mavlink-ai-command",
    "z": "flow04",
    "name": "Arm/Disarm",
    "profile": "ai_profile_copter",
    "command": "arm",
    "x": 330,
    "y": 130,
    "wires": [
      [
        "n04_out"
      ]
    ]
  },
  {
    "id": "n04_out",
    "type": "mavlink-ai-out",
    "z": "flow04",
    "name": "Send",
    "connection": "ai_conn_udp",
    "x": 520,
    "y": 130,
    "wires": []
  }
]
