examples/02-vehicle-control/14-command-beginner-demo-sequence.json
[
  {
    "id": "flow14",
    "type": "tab",
    "label": "MAVLink AI - 14 Beginner Demo Sequence",
    "disabled": false,
    "info": "Beginner choreography demo (issue #52): arm -> takeoff 10m -> spin 360 -> take photo -> land -> disarm. Every step is wired to Debug only \u2014 the command nodes build normalized messages but nothing reaches a vehicle until you wire them into a MAVLink AI Out node (or enable Await ack with a connection). Note: flips/rolls are not included as a generic step \u2014 on ArduCopter a flip is a MODE (FLIP via Set Mode), not a MAV_CMD, and support is firmware/vehicle-specific."
  },
  {
    "id": "ai_profile_copter",
    "type": "mavlink-ai-profile",
    "name": "AI Profile - Copter",
    "firmware": "ardupilot",
    "dialect": "ardupilotmega",
    "customDialectPath": "",
    "mavlinkVersion": "auto",
    "defaultTargetSystem": 1,
    "defaultTargetComponent": 1,
    "preferredMissionItemType": "MISSION_ITEM_INT",
    "defaultMissionType": "mission",
    "debugProtocol": false,
    "vehicleFamily": "copter"
  },
  {
    "id": "ai_profile_copter__identity",
    "type": "mavlink-ai-local-identity",
    "name": "AI Profile - Copter Identity",
    "role": "custom",
    "sourceSystemId": 255,
    "sourceComponentId": 190,
    "heartbeatType": "",
    "heartbeatAutopilot": "MAV_AUTOPILOT_INVALID",
    "signOutbound": false,
    "verifyInbound": false,
    "requireSignature": false
  },
  {
    "id": "n14_i1",
    "type": "inject",
    "z": "flow14",
    "name": "1. Arm",
    "props": [
      {
        "p": "payload"
      }
    ],
    "payload": "{}",
    "payloadType": "json",
    "x": 130,
    "y": 80,
    "wires": [
      [
        "n14_arm"
      ]
    ]
  },
  {
    "id": "n14_arm",
    "type": "mavlink-ai-command",
    "z": "flow14",
    "name": "Arm",
    "profile": "ai_profile_copter",
    "command": "arm",
    "sendAs": "long",
    "awaitAck": false,
    "timeoutMs": 3000,
    "maxRetries": 3,
    "fields": "",
    "presetFields": "",
    "x": 330,
    "y": 80,
    "wires": [
      [
        "n14_dbg"
      ]
    ]
  },
  {
    "id": "n14_i2",
    "type": "inject",
    "z": "flow14",
    "name": "2. Takeoff 10 m",
    "props": [
      {
        "p": "payload"
      }
    ],
    "payload": "{}",
    "payloadType": "json",
    "x": 150,
    "y": 140,
    "wires": [
      [
        "n14_takeoff"
      ]
    ]
  },
  {
    "id": "n14_takeoff",
    "type": "mavlink-ai-command",
    "z": "flow14",
    "name": "Takeoff",
    "profile": "ai_profile_copter",
    "command": "takeoff",
    "sendAs": "long",
    "awaitAck": false,
    "timeoutMs": 3000,
    "maxRetries": 3,
    "fields": "",
    "presetFields": "{\"altitude\":10}",
    "x": 340,
    "y": 140,
    "wires": [
      [
        "n14_dbg"
      ]
    ]
  },
  {
    "id": "n14_i3",
    "type": "inject",
    "z": "flow14",
    "name": "3. Spin 360",
    "props": [
      {
        "p": "payload"
      }
    ],
    "payload": "{}",
    "payloadType": "json",
    "x": 140,
    "y": 200,
    "wires": [
      [
        "n14_spin"
      ]
    ]
  },
  {
    "id": "n14_spin",
    "type": "mavlink-ai-command",
    "z": "flow14",
    "name": "Spin / Rotate",
    "profile": "ai_profile_copter",
    "command": "spin",
    "sendAs": "long",
    "awaitAck": false,
    "timeoutMs": 3000,
    "maxRetries": 3,
    "fields": "",
    "presetFields": "{\"angle\":360,\"rate\":30,\"direction\":\"clockwise\"}",
    "x": 350,
    "y": 200,
    "wires": [
      [
        "n14_dbg"
      ]
    ]
  },
  {
    "id": "n14_i4",
    "type": "inject",
    "z": "flow14",
    "name": "4. Take photo",
    "props": [
      {
        "p": "payload"
      }
    ],
    "payload": "{}",
    "payloadType": "json",
    "x": 150,
    "y": 260,
    "wires": [
      [
        "n14_photo"
      ]
    ]
  },
  {
    "id": "n14_photo",
    "type": "mavlink-ai-payload",
    "z": "flow14",
    "name": "Take Photo",
    "profile": "ai_profile_copter",
    "connection": "",
    "action": "camera_photo",
    "targetComponent": "",
    "interval": "",
    "count": "",
    "sequence": "",
    "streamId": "",
    "statusFrequency": "",
    "pitch": "",
    "roll": "",
    "yaw": "",
    "instance": "",
    "pwm": "",
    "on": false,
    "gripAction": "release",
    "x": 350,
    "y": 260,
    "wires": [
      [
        "n14_dbg"
      ]
    ]
  },
  {
    "id": "n14_i5",
    "type": "inject",
    "z": "flow14",
    "name": "5. Land",
    "props": [
      {
        "p": "payload"
      }
    ],
    "payload": "{}",
    "payloadType": "json",
    "x": 130,
    "y": 320,
    "wires": [
      [
        "n14_land"
      ]
    ]
  },
  {
    "id": "n14_land",
    "type": "mavlink-ai-command",
    "z": "flow14",
    "name": "Land",
    "profile": "ai_profile_copter",
    "command": "land",
    "sendAs": "long",
    "awaitAck": false,
    "timeoutMs": 3000,
    "maxRetries": 3,
    "fields": "",
    "presetFields": "",
    "x": 330,
    "y": 320,
    "wires": [
      [
        "n14_dbg"
      ]
    ]
  },
  {
    "id": "n14_i6",
    "type": "inject",
    "z": "flow14",
    "name": "6. Disarm",
    "props": [
      {
        "p": "payload"
      }
    ],
    "payload": "{}",
    "payloadType": "json",
    "x": 140,
    "y": 380,
    "wires": [
      [
        "n14_disarm"
      ]
    ]
  },
  {
    "id": "n14_disarm",
    "type": "mavlink-ai-command",
    "z": "flow14",
    "name": "Disarm",
    "profile": "ai_profile_copter",
    "command": "disarm",
    "sendAs": "long",
    "awaitAck": false,
    "timeoutMs": 3000,
    "maxRetries": 3,
    "fields": "",
    "presetFields": "",
    "x": 340,
    "y": 380,
    "wires": [
      [
        "n14_dbg"
      ]
    ]
  },
  {
    "id": "n14_dbg",
    "type": "debug",
    "z": "flow14",
    "name": "Would send (wire to MAVLink AI Out to fly)",
    "active": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 660,
    "y": 230,
    "wires": []
  }
]
